
@{
    ViewBag.Title = "添加新闻";
}

<h2>添加新闻</h2>
<form method="post">
    <table>
    <tr>
        <td>新闻标题</td>
        <td><input type="text" name="title" value="" /></td>
    </tr>
    <tr>
        <td>新闻内容</td>
        <td><textarea cols="60" rows="5"></textarea></td>
    </tr>
    <tr>
        <td><button type="submit">保存</button></td>
        <td><button type="reset">取消</button></td>
    </tr>
    </table>
</form>
